.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  padding: 10px;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid black;
}

.encabezado_title {
  font-size: 2rem;
  font-weight: bold;
  color: lightcoral;
}

.encabezado_menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.encabezado_menu_lis {
  font-weight: bold;
  background-color: lightcoral;
  padding: 5px;
  border-radius: 5px;
}

.pie {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  color: lightcoral;
  padding: 10px 0 10px 0;
  border-top: 1px solid black;
}
