<div class="wrapper">
  <header class="encabezado">
    <h1 class="encabezado_title">
      <a href="index.html">Gestor de contenido</a>
    </h1>
    <nav>
      <ul class="encabezado_menu">
        <li class="encabezado_menu_lis">
          <a href="index.html">Listado de artículos</a>
        </li>
        <li class="encabezado_menu_lis">
          <a href="index.html">Crear artículos</a>
        </li>
        <li class="encabezado_menu_lis">
          <a href="index.html">Mis borradores</a>
        </li>
        <li class="encabezado_menu_lis"><a href="index.html">Ayuda</a></li>
      </ul>
    </nav>
  </header>
</div>
<main>
  <app-blog></app-blog>
</main>
<div class="wrapper">
  <footer class="pie">©Rarmero98 / 2024</footer>
</div>
